* {
  border: none;
  border-radius: 0;
  font-family:
    Cartograph CF Nerd Font,
    monospace;
  font-weight: bold;
  font-size: 14px;
  min-height: 25px;
}

window#waybar {
  background: rgba(21, 18, 27, 0);
  color: #cdd6f4;
}

tooltip {
  background: rgba(30, 30, 46, 0.5);
  border-radius: 10px;
}

#workspaces button {
  padding-right: 10px;
  color: rgb(242, 242, 242);
  border-radius: 10px;
}

#workspaces button.active {
  color: rgb(247, 247, 247);
  background: rgba(0, 7, 5, 0.75);
}

#workspaces button.focused {
  color: rgb(247, 247, 247);
  background-color: rgba(251, 0, 0, 0.75);
  border-radius: 50px;
}

#workspaces button.urgent {
  color: rgb(247, 247, 247);
  background: rgba(251, 0, 0, 0.75);
  border-radius: 10px;
}

#workspaces button:hover {
  background: rgba(86, 84, 84, 0.75);
  color: #cdd6f4;
  border-radius: 10px;
}

#custom-weather,
#window,
#clock,
#pulseaudio,
#network,
#keyboard-state,
#workspaces,
#tray {
  background: rgba(30, 30, 46, 0.5);
  padding: 0px 10px;
  margin: 3px 0px;
  margin-top: 10px;
}

#tray {
  border-radius: 10px;
  margin-right: 10px;
}

#workspaces {
  border-radius: 10px;
  margin-left: 10px;
  padding-right: 0px;
  padding-left: 5px;
}

#custom-updates {
  background-color: rgba(30, 30, 46, 0.5);
  font-size: 16px;
  color: rgb(247, 247, 247);
  border-radius: 10px 0px 0px 10px;
  padding: 0px 10px;
  margin: 3px 0px;
  margin-top: 10px;
}

#custom-updates.green {
  background-color: rgba(102, 247, 61, 0.75);
}

#custom-updates.yellow {
  background-color: rgba(251, 251, 0, 0.75);
  color: rgb(247, 247, 247);
}

#custom-updates.red {
  background-color: rgba(251, 0, 0, 0.75);
  color: rgb(247, 247, 247);
}

#window {
  border-radius: 10px;
  margin-left: 60px;
  margin-right: 60px;
}

#clock {
  color: #fab387;
  border-radius: 10px 0px 0px 10px;
  margin-left: 5px;
  border-right: 0px;
}

#network {
  color: #f9e2af;
  border-left: 0px;
  border-right: 0px;
}

#pulseaudio {
  color: #89b4fa;
  border-left: 0px;
  border-right: 0px;
}

#pulseaudio.microphone {
  color: #cba6f7;
  border-radius: 0px 10px 10px 0px;
  border-left: 0px;
  border-right: 0px;
  margin-right: 5px;
}

#custom-weather {
  border-radius: 0px 10px 10px 0px;
  border-right: 0px;
  margin-left: 0px;
}
